.github
.husky
.svelte-kit
build
docker
node_modules
src/lib/generated
static
.commitlintrc.json
.dockerignore
.env.development
.env.production
.env.staging
.eslintignore
eslint.config.js
.gitignore
.graphqlconfig
.prettierignore
.prettierrc
codegen.yml
CONTRIBUTING.md
Dockerfile
graphql.schema.json
LICENSE
package.json
pnpm-lock.yaml
postcss.config.cjs
README.md
schema.graphql
svelte.config.js
tailwind.config.cjs
tsconfig.json
.pnpm-store
src/i18n
.devcontainer/devcontainer.json
.vscode/