@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased dark:text-gray-50 dark:bg-gray-900;
  @apply leading-normal tracking-normal text-base font-normal break-words;
  @apply text-base lg:text-xl;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
