@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-600 dark:text-gray-300 bg-gray-100 dark:bg-gray-900;
  @apply leading-normal tracking-normal text-base font-normal break-words;
  @apply text-base lg:text-xl;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

main {
  @apply p-8 pt-32 md:pt-24 mx-auto;
}
