@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #ff6f00,
  $secondary: #212125,
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #303030,
  $error: color-palette.$red-700
);

html,
body {
  background-color: #303030;
  color: theme.$on-surface;
}
