[data-theme='ficsittheme'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.22rem;
  --radius-base: 0.25rem;
  --radius-container: 0.25rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: oklch(1 0 0 / 1);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(94.75% 0.03 58.41deg);
  --color-primary-100: oklch(93.09% 0.04 59.41deg);
  --color-primary-200: oklch(91.45% 0.05 59.91deg);
  --color-primary-300: oklch(86.52% 0.09 58.45deg);
  --color-primary-400: oklch(77.75% 0.15 55.35deg);
  --color-primary-500: oklch(70.76% 0.2 46.45deg);
  --color-primary-600: oklch(65.53% 0.18 46.69deg);
  --color-primary-700: oklch(57.19% 0.16 47.26deg);
  --color-primary-800: oklch(48.84% 0.13 48.43deg);
  --color-primary-900: oklch(42.27% 0.11 48.85deg);
  --color-primary-950: oklch(37.46% 0.1 49.52deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-dark);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(92.46% 0.03 289.62deg);
  --color-secondary-100: oklch(89.99% 0.04 288.39deg);
  --color-secondary-200: oklch(87.51% 0.05 287.52deg);
  --color-secondary-300: oklch(79.91% 0.09 287.05deg);
  --color-secondary-400: oklch(64.96% 0.16 283.38deg);
  --color-secondary-500: oklch(51.06% 0.23 276.97deg);
  --color-secondary-600: oklch(47.35% 0.21 277.11deg);
  --color-secondary-700: oklch(41.78% 0.18 277.24deg);
  --color-secondary-800: oklch(35.76% 0.15 277.76deg);
  --color-secondary-900: oklch(31.33% 0.13 278.72deg);
  --color-secondary-950: oklch(28.85% 0.12 278.9deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(94.73% 0.03 225.65deg);
  --color-tertiary-100: oklch(92.87% 0.04 227.56deg);
  --color-tertiary-200: oklch(91.23% 0.05 226.71deg);
  --color-tertiary-300: oklch(85.98% 0.07 227.59deg);
  --color-tertiary-400: oklch(76.48% 0.12 230.72deg);
  --color-tertiary-500: oklch(68.47% 0.15 237.31deg);
  --color-tertiary-600: oklch(63.49% 0.14 236.98deg);
  --color-tertiary-700: oklch(55.56% 0.12 236.76deg);
  --color-tertiary-800: oklch(47.32% 0.1 236.37deg);
  --color-tertiary-900: oklch(41.13% 0.08 235.44deg);
  --color-tertiary-950: oklch(34.71% 0.07 233.64deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(96.15% 0.04 123.64deg);
  --color-success-100: oklch(94.94% 0.05 125.32deg);
  --color-success-200: oklch(93.63% 0.06 125.3deg);
  --color-success-300: oklch(90.15% 0.1 125.92deg);
  --color-success-400: oklch(83.06% 0.16 127.65deg);
  --color-success-500: oklch(76.81% 0.2 130.85deg);
  --color-success-600: oklch(71.15% 0.19 130.79deg);
  --color-success-700: oklch(62.15% 0.16 130.64deg);
  --color-success-800: oklch(52.8% 0.14 130.37deg);
  --color-success-900: oklch(45.93% 0.12 130.07deg);
  --color-success-950: oklch(40.07% 0.1 129.88deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(96.66% 0.04 92.8deg);
  --color-warning-100: oklch(95.51% 0.05 92.16deg);
  --color-warning-200: oklch(94.36% 0.06 92.13deg);
  --color-warning-300: oklch(91.2% 0.09 92.45deg);
  --color-warning-400: oklch(85.02% 0.14 91.36deg);
  --color-warning-500: oklch(79.53% 0.16 86.04deg);
  --color-warning-600: oklch(73.55% 0.15 85.96deg);
  --color-warning-700: oklch(64.3% 0.13 86.06deg);
  --color-warning-800: oklch(54.58% 0.11 86.87deg);
  --color-warning-900: oklch(47.51% 0.1 87.45deg);
  --color-warning-950: oklch(42.19% 0.08 87.55deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(92.42% 0.04 348.1deg);
  --color-error-100: oklch(89.74% 0.05 345.82deg);
  --color-error-200: oklch(87.32% 0.06 346.89deg);
  --color-error-300: oklch(79.88% 0.1 348.58deg);
  --color-error-400: oklch(66.56% 0.18 352.06deg);
  --color-error-500: oklch(57.22% 0.22 358.61deg);
  --color-error-600: oklch(53% 0.2 358.59deg);
  --color-error-700: oklch(46.42% 0.18 357.86deg);
  --color-error-800: oklch(39.57% 0.15 357.41deg);
  --color-error-900: oklch(34.45% 0.13 356.99deg);
  --color-error-950: oklch(27.51% 0.1 356.28deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(90.97% 0 none);
  --color-surface-100: oklch(87.95% 0 287.19deg);
  --color-surface-200: oklch(84.86% 0 287.15deg);
  --color-surface-300: oklch(75.14% 0 286.66deg);
  --color-surface-400: oklch(55.31% 0 286.4deg);
  --color-surface-500: oklch(33.09% 0.01 285.96deg);
  --color-surface-600: oklch(31.07% 0.01 286.04deg);
  --color-surface-700: oklch(27.85% 0.01 285.97deg);
  --color-surface-800: oklch(24.48% 0.01 286.03deg);
  --color-surface-900: oklch(21.86% 0 286.15deg);
  --color-surface-950: oklch(17.35% 0 286.29deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
